@charset "utf-8";

/* CSS Document */

html,
body {
  height: 100%;
}

body > .wrapper {
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EEEEEE;
  background-image: url(../image2/header.png);
  background-repeat: repeat-x;
}

header {
  width: 990px;
  height: 77px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

div.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  float: left;
}

#linklist {
  height: 52px;
}

nav {
  float: right;
  width: 900px;
}

nav ul {
  height: 20px;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  list-style-type: none;
}

nav ul li a {
  display: block;
  margin-right: 20px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #404044;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #44a51c !important;
  text-decoration: none;
}

#contents {
  float: left;
  width: 690px;
  margin-top: 20px;
}

section {
  padding: 20px;
  background-color: #FFF;
  border: 2px solid #999;
}

section h1 {
  padding-left: 20px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
  color: #44a51c;
  border-top-color: #999;
  border-bottom-color: #999;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

section h2 {
  width: 500px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
  color: #44a51c;
  border-bottom-color: #999999;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

section h3 {
  width: 500px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  color: #44a51c;
}

section p {
  font-size: 12px;
}

article {
  margin-bottom: 40px;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.aList {
  width: 480px;
  padding-bottom: 5px;
  border-bottom-color: #CCC;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

aside {
  float: right;
  width: 280px;
  margin-top: 20px;
  background-color: #FFF;
  border: 2px solid #999;
}

#space {
  width: 990px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 20px 0 0;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  background-color: #000;
}
